
#navbar{
    background-color: gray;
    display: flex;
    height: 790px;
    width: 150px;
    justify-content: center;
    align-items: center;
}
#container{
    display: flex;
    height: 690px;
    justify-content: space-between;
}
header{
    background-color: black;
    display: flex;
    color: white;
    height: 100px;
    align-items: center;
    justify-content: center;
}
#aside{
    background-color: red;
    display: flex;
    height: 690px;
    width: 150px;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: teal;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}
#article
{
    display: flex;
    background-color: yellowgreen;
    justify-content: center;
    align-items: center;
    width: 100%;
}
@media only screen and (max-width:500px){
    #container{
        display: inline-flex;
        flex-direction: column;
        width: 100%;
    }
    #aside{
        height: 200px;
        width: 100%;
    }
    #navbar{
        height: 200px;
        width: 100%;
    }
    #article{
        height: 100%;
    }
}
    